@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.section-typo-zoom-in {
  width: 100%;
  height: 200vh;
  color: #000;
  position: relative;
}

.typo-zoom-sticky {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.typo-zoom-sticky-inner {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.typo-zoom-text {
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
}

.typo-zoom-text-image {
  width: 100%;
}

.typo-zoom-text-wrapper {
  width: 90vw;
}

@keyframes zoomInEffect {
  from {
    width: 50vw;
    transform: translate3d(0vw, 0vh, 0px) scale(0.5);
  }
  to {
    width: 9000vw;
    transform: translate3d(-120vw, -40vh, 0px) scale(1);
  }
}

.zoomAnimation {
  animation-name: zoomInEffect;
  animation-fill-mode: forwards; 
  animation-duration: 5s; 
}